= form_for [@current_story,@plot], html: { class: 'form-horizontal', role: "form" } do |f|
  -if @plot.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@plot.errors.count, "error")} prohibited this plot from being saved:"

      %ul
        - @plot.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :desc, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :desc, class: 'form-control'

  .button_row_frame
    %h4= t( 'plots.form.linked_chars' )
    - @characters.in_groups_of( 4 ) do |group|
      .row
        - group.each do |character|
          - if character
            .col-sm-3.button_frame
              %button.characters_btn.btn.col-sm-11{ type: :button, c_id: character.id, class: character_button_class( character ) }
                = character.name
                = hidden_field_tag "character_id[#{character.id}]", @selected_character_ids.include?( character.id )

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary', value: t( '.submit' ), 'data-disable-with' => t( '.submit' )

= hidden_field_tag :character_buttons, true