.page-header
  = link_to story_plots_path( @current_story ), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t( '.back' )
  = link_to edit_story_plot_path(@current_story,@plot), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    = t( '.edit' )
  %h1= t( '.title' )

%dl.dl-horizontal
  %dt= t( 'helpers.label.plot.name' ) + ' :'
    
  %dd= @plot.name
    
  %dt= t( 'helpers.label.plot.desc' ) + ' :'
    
  %dd= @plot.desc
    
  %dt= t( 'helpers.label.plot.story' ) + ' :'
    
  %dd= @plot.story.name

%svg{ width: "960", height: "600" }

= hidden_field_tag :graph, @graph.to_json