= form_for [ @current_story, @group ], html: { class: 'form-horizontal', role: "form" } do |f|
  -if @group.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"

      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
      

  .form-group
    = f.label :desc, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :desc, class: 'form-control'
      

  .form-group
    = f.label :groupe_type, class: 'col-sm-2 control-label'
    .col-sm-2
      .input-group
        %span{ class: 'input-group-addon' }
          = f.radio_button( :groupe_type, 1 )
          = t( 'groups.types.crew' )
    .col-sm-2
      .input-group
        %span{ class: 'input-group-addon' }
          = f.radio_button( :groupe_type, 2 )
          = t( 'groups.types.friends' )
    .col-sm-2
      .input-group
        %span{ class: 'input-group-addon' }
          = f.radio_button( :groupe_type, 3 )
          = t( 'groups.types.organisation' )

  .button_row_frame
    %h4= t( 'groups.form.linked_chars' )
    - @characters.in_groups_of( 4 ) do |group|
      .row
        - group.each do |character|
          - if character
            .col-sm-3.button_frame
              %button.characters_btn.btn.col-sm-11{ type: :button, c_id: character.id, class: character_button_class( character ) }
                = character.name
                = hidden_field_tag "character_id[#{character.id}]", @selected_character_ids.include?( character.id )

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary', value: t( '.submit' ), 'data-disable-with' => t( '.submit' )
