.page-header
  = link_to new_story_group_path( @current_story, locale: I18n.locale ), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = t( '.new' )
  %h1= t( '.title' )

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= t( 'helpers.label.group.name' )
        %th= t( 'helpers.label.group.desc' )
        %th= t( 'helpers.label.group.groupe_type' )
        %th
        %th

    %tbody
      - @groups.each do |group|
        %tr
          %td= group.name
          %td= group.desc
          %td= t( 'groups.types.' + Group::TYPE_INT_CONVERSION[ group.groupe_type ] )

          %td= link_to t( '.edit' ), edit_story_group_path(@current_story, group)
          %td= link_to t( '.delete' ), [ @current_story, group ], data: { confirm: t( '.confirm' ) }, method: :delete
